*{
  margin:0;
  padding:0;
}
body{
  letter-spacing: 1px;

 
}
.sign-up-container{
  background: url('../Images/abstract.jpg');
  background-size:cover;
  height:calc(68vh - 40px);
  padding:16vh 0px; 
}

.post-container{
  background: url('../Images/abstract.jpg');
  background-size:cover;
  padding: 20px 0px;  
}
.post-info .card{
  margin:0;
}
.post-info{
  margin:20px auto;
  max-width: 800px;
}
.card{
  display:inline-block;
  min-width:400px;
  width:500px;
  margin:0 auto;
  padding:0px!important;
}
.form-container{
  text-align: center;
  padding: 40px;
}
.button-link{
  background: transparent;
  color:white;
  text-decoration: none;
  padding:3px;
  text-transform: uppercase;
  


}
.button-link.primary{
  background: #0B3763;
  color:white;
  text-decoration: none!important;

  
}
.post-card{
  margin:20px!important;
}
.btn-delete{
  width:20px;
}
.button-link.primary.pad{
  font-size:15px ;
  padding:0px 15px;
  transition:all .4s ease-in-out;
color:#fff;
opacity:.8;
}
.button-link.primary.pad:hover{
  opacity:1;
}

.login-container,.signup-container{
  background-image: url('../Images/newYork.jpg');
  background-size: cover;
  background-repeat: 'no-repeat';
  height:calc(68vh - 40px);
  padding:16vh 0px; 
}
.overlay{
  width: "100%"!important;
  height: "100%"!important;
  background: #0B3763;
  opacity: 0.8;
}
.left{
  width:180px;
  height:210px;
  background:white;
  border: 3 solid gray;
  padding:4px;
  margin:10px;
  display: inline-block;
}
.left img{
  width:100%;
  height:100%;
}
.right{
  display: inline-block;
  vertical-align: top;
  margin:10px;
  padding:4px;
}
.right .info-title{
  font-size:30px;
  font-weight: bolder;
}
.info-author{
  font-size:10px;
}
.info-description{
  padding:10px 0px; 
  font-size:20px;
}
.read-more-btn{
  padding:6px;
  font-size: 10px;
  background: '#0B3763';
}
.read-more-btn:hover{
  background: '#0B3763';
}
.remove-pad{
  margin-top:-30px!important;
}
.post-box{
  font-size:17px;
  padding:3px 0px;
}
.edit{
  text-decoration: none;
  letter-spacing: 0px;
  font-size:14px;
  color:#3F51B5;
  font-weight: 500;
}
.backdrop {
  
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 64px;
  z-index: 0;
  background: #0000ff47;
}
.login-wrapper,.signup-wrapper {
  z-index: 1;
  padding-top: 10%;
}
.user-name-info{
 line-height: 45px;
 padding-left: 13px;
}

.user-profile-img{
  width: 30px;
  height: 30px;
  margin-top: 10px;
  border-radius: 50%;
  padding: 2px;
  border: 3px double gray;
  box-shadow: 0 0 3px grey;
}

.post-box{
  position: relative;
  font-size:17px;
}
.post-box-sample{
  padding-left: 53px;
  margin-top: -28px;
  font-size: 15px;
  color: gray;
  padding-top: 16px;
  position: relative;
  top: -9px;
}

.search{
  width:30%;
  margin:0 auto;
}


